/MM/object_link_goron/manifest_object_link_goron.txt
/MM/object_link_goron/zzplayas_goron_manifest_test.zobj
/MM/object_link_nuts/zzplayas_nuts_manifest_test.zobj
/MM/object_link_zora/zzplayas_zora_manifest_test.zobj
/MM/object_link_boy/zzplayas_boy_manifest_test.zobj
/MM/object_link_child/zzplayas_child_manifest_test.zobj
/MM/UniversalAliasTable.txt